<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ontologyConflictSolver.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>2</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>AEE607ACEE13C8E718B105BB3C14344A223E4476</string>
				<key>dateExpires</key>
				<string>13/04/23</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AEE607ACEE13C8E718B105BB3C14344A223E4476</string>
						<key>dateExpires</key>
						<string>13/04/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>OpenSSL.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QL8LHNX3G5</string>
						<key>name</key>
						<string>Hong Cui</string>
					</dict>
					<key>versionNumber</key>
					<string>1.1.180</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>QL8LHNX3G5.org.reactjs.native.example.ontologyConflictSolver</string>
				<key>com.apple.developer.team-identifier</key>
				<string>QL8LHNX3G5</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>ontologyConflictSolver.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>3ff1eea1-38ab-4418-bf18-9a7feccf30cf</string>
				<key>dateExpires</key>
				<string>18/08/23</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: org.reactjs.native.example.ontologyConflictSolver</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>QL8LHNX3G5</string>
				<key>name</key>
				<string>Hong Cui</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
